body{
    background-color: rgba(66, 66, 66, 0.61);
    padding: 30px;
    padding-top: 9%;
    background-image: url(/imgs/lanchonete.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.container{
    height: 590px;
    width: 350px;
    padding: 5px;
    border: 0;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.171);
    box-shadow: 4px 6px 32px 15px #000000fd;
}
.text{
    padding-top: 20px;
    padding: 30px;
    text-align: center;
}
.text img{
    width: 250px;
    padding-right: 30px;
    padding-left: 30px;
}

.enterbutton{
    height: 13%;
    border: 1px solid gray;
    border-radius: 15px;
    transform: translateX(115px);
    background-image: linear-gradient(to right, transparent 50%, yellow);
    background-position: 0%;
    background-size: 200%;
}
.enterbutton:hover{
    transform: translateX(105px);
    transition: linear 0.3s;
    background-position: 100%;
    font-size: 20px;
}

.inputs{
    background-color: rgba(240, 248, 255, 0);
    color: black;
    border: 1px solid black;
}
.inputs::placeholder{
    color: black;
}
.inputs:focus{
    background-color: rgba(255, 255, 255, 0.349);
    border: 2px solid black;
}
.inputs:hover{
    background-color: rgba(0, 255, 255, 0.171);
}

.btnpass{
    position: absolute;
    margin-left: 297px;
    transform: translateY(-100px);
}
.error{
    color:  red;
    font-style: bold;
    text-transform: uppercase;
    text-align: center;
}
